extends base
block content
  .container.pt-4
    h2 Aeropuertos 
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') Codigo IATA
              th(scope='col') Ciudad
              th(scope='col') Pais
              th(scope='col') Zona Horaria

          tbody
          - for (var i = 0; i < aeropuertos.length; i++)
            tr
              th(scope='row') #{aeropuertos[i].CodigoIATA}
              td #{aeropuertos[i].Ciudad}
              td #{aeropuertos[i].Pais}
              td #{aeropuertos[i].ZonaHoraria}
              td
                form(action=`show/${aeropuertos[i].CodigoIATA}`,method="GET")
                  button.btn.btn-outline-danger(type='submit') Modificar
              td
                form(action=`delete/${aeropuertos[i].CodigoIATA}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        - if(aeropuertosUpdate)
          h4.mt-5 Modificar Aeropuerto
            div.card.bg-dark
              div.card-body.text-white
                form(action=`update/${aeropuertosUpdate[0].CodigoIATA}` method="POST")
                  .form-group
                    label(for="CodigoIATA") CodigoIATA
                    input#CodigoIATA.form-control(type="text" value=`${aeropuertosUpdate[0].CodigoIATA}` aria-describedby='CodigoIATA' placeholder='CodigoIATA' name='CodigoIATA' required onkeyup = "javascript:this.value=this.value.toUpperCase();")
                  .form-group
                    label(for='Ciudad') Ciudad
                    input#Ciudad.form-control(type='text' value=`${aeropuertosUpdate[0].Ciudad}` placeholder='Ciudad' name='Ciudad')
                  .form-group
                    label(for='Pais') Pais
                    input#Pais.form-control(type='text' value= `${aeropuertosUpdate[0].Pais}` placeholder='Pais' name='Pais')
                  .form-group
                    label(for='ZonaHoraria') Zona Horaria
                    select#Pais.select.form-control.input-lg(type='number' name='ZonaHoraria')
                      option(value='-12' selected=(aeropuertosUpdate[0].ZonaHoraria==-12)) UTC -12:00
                      option(value='-11' selected=(aeropuertosUpdate[0].ZonaHoraria==-11)) UTC -11:00
                      option(value='-10' selected=(aeropuertosUpdate[0].ZonaHoraria==-10)) UTC -10:00
                      option(value='-9' selected=(aeropuertosUpdate[0].ZonaHoraria==-9)) UTC -9:00
                      option(value='-8' selected=(aeropuertosUpdate[0].ZonaHoraria==-8)) UTC -8:00
                      option(value='-7' selected=(aeropuertosUpdate[0].ZonaHoraria==-7)) UTC -7:00
                      option(value='-6' selected=(aeropuertosUpdate[0].ZonaHoraria==-6)) UTC -6:00
                      option(value='-5' selected=(aeropuertosUpdate[0].ZonaHoraria==-5)) UTC -5:00
                      option(value='-4' selected=(aeropuertosUpdate[0].ZonaHoraria==-4)) UTC -4:00
                      option(value='-3' selected=(aeropuertosUpdate[0].ZonaHoraria==-3)) UTC -3:00
                      option(value='-2' selected=(aeropuertosUpdate[0].ZonaHoraria==-2)) UTC -2:00
                      option(value='-1' selected=(aeropuertosUpdate[0].ZonaHoraria==-1)) UTC -1:00
                      option(value='0' selected=(aeropuertosUpdate[0].ZonaHoraria==0)) UTC ±0:00
                      option(value='1' selected=(aeropuertosUpdate[0].ZonaHoraria==1)) UTC +1:00
                      option(value='2' selected=(aeropuertosUpdate[0].ZonaHoraria==2)) UTC +2:00
                      option(value='3' selected=(aeropuertosUpdate[0].ZonaHoraria==3)) UTC +3:00
                      option(value='4' selected=(aeropuertosUpdate[0].ZonaHoraria==4)) UTC +4:00
                      option(value='5' selected=(aeropuertosUpdate[0].ZonaHoraria==5)) UTC +5:00
                      option(value='6' selected=(aeropuertosUpdate[0].ZonaHoraria==6)) UTC +6:00
                      option(value='7' selected=(aeropuertosUpdate[0].ZonaHoraria==7)) UTC +7:00
                      option(value='8' selected=(aeropuertosUpdate[0].ZonaHoraria==8)) UTC +8:00
                      option(value='9' selected=(aeropuertosUpdate[0].ZonaHoraria==9)) UTC +9:00
                      option(value='10' selected=(aeropuertosUpdate[0].ZonaHoraria==10)) UTC +10:00
                      option(value='11' selected=(aeropuertosUpdate[0].ZonaHoraria==11)) UTC +11:00
                      option(value='12' selected=(aeropuertosUpdate[0].ZonaHoraria==12)) UTC +12:00
                    button.btn.btn-danger(type="submit") Modificar
        h4.mt-5 Agregar un nuevo aeropuerto
          div.card.bg-dark
            div.card-body.text-white
              form(action='create/' method="POST")
                .form-group
                  label(for='CodigoIATA') Codigo IATA
                  input#CodigoIATA.form-control(type='text' aria-describedby='CodigoIATA' placeholder='CodigoIATA' name='CodigoIATA' required onkeyup = "javascript:this.value=this.value.toUpperCase();")
                .form-group
                  label(for='Ciudad') Ciudad
                  input#Ciudad.form-control(type='text' placeholder='Ciudad' name='Ciudad')
                .form-group
                  label(for='Pais') Pais
                  input#Pais.form-control(type='text' placeholder='Pais' name='Pais')
                .form-group
                  label(for='ZonaHoraria') Zona Horaria
                  select#Pais.select.form-control.input-lg(type='number' name='ZonaHoraria')
                    option(value='-12') UTC -12:00
                    option(value='-11') UTC -11:00
                    option(value='-10') UTC -10:00
                    option(value='-9') UTC -9:00
                    option(value='-8') UTC -8:00
                    option(value='-7') UTC -7:00
                    option(value='-6') UTC -6:00
                    option(value='-5') UTC -5:00
                    option(value='-4') UTC -4:00
                    option(value='-3') UTC -3:00
                    option(value='-2') UTC -2:00
                    option(value='-1') UTC -1:00
                    option(value='0' selected=true) UTC ±0:00
                    option(value='1') UTC +1:00
                    option(value='2') UTC +2:00
                    option(value='3') UTC +3:00
                    option(value='4') UTC +4:00
                    option(value='5') UTC +5:00
                    option(value='6') UTC +6:00
                    option(value='7') UTC +7:00
                    option(value='8') UTC +8:00
                    option(value='9') UTC +9:00
                    option(value='10') UTC +10:00
                    option(value='11') UTC +11:00
                    option(value='12') UTC +12:00
                .form-group
                  button.btn.btn-primary(type='submit') Agregar