extends base
block content
  .container.pt-4
    - if(aeropuertos)
      h2 Aeropuertos 
      .row.mt-5
        .col-12
          table.table.bg-white
            thead
              tr
                th(scope='col') Código IATA
                th(scope='col') Ciudad
                th(scope='col') Pais
                th(scope='col') Zona Horaria
            tbody
            -if (!aeropuertosUpdate)
              - for (var i = 0; i < aeropuertos.length; i++)
                tr
                  th(scope='row') #{aeropuertos[i].CodigoIATA}
                  td #{aeropuertos[i].Ciudad}
                  td #{aeropuertos[i].Pais}
                  - if(aeropuertos[i].ZonaHoraria > 0)
                    td UTC +#{aeropuertos[i].ZonaHoraria}:00
                  - else
                    - if(aeropuertos[i].ZonaHoraria < 0)
                      td UTC #{aeropuertos[i].ZonaHoraria}:00
                    - else
                      td UTC ±#{aeropuertos[i].ZonaHoraria}:00
                  td
                    form(action=`show/${aeropuertos[i].CodigoIATA}`,method="GET")
                      button.btn.btn-outline-danger(type='submit') Modificar
                  td
                    form(action=`delete/${aeropuertos[i].CodigoIATA}`,method="POST")
                      button.btn.btn-outline-danger(type='submit') Eliminar
                  td
                    form(action=`pistas/${aeropuertos[i].CodigoIATA}`,method="GET")
                      button.btn.btn-outline-danger(type='submit') Pistas
            - else
              tr
                th(scope='row') #{aeropuertosUpdate.CodigoIATA}
                td #{aeropuertosUpdate.Ciudad}
                td #{aeropuertosUpdate.Pais}
                - if(aeropuertosUpdate.ZonaHoraria > 0)
                  td UTC +#{aeropuertosUpdate.ZonaHoraria}:00
                - else
                  - if(aeropuertosUpdate.ZonaHoraria < 0)
                    td UTC #{aeropuertosUpdate.ZonaHoraria}:00
                  - else
                    td UTC ±#{aeropuertosUpdate.ZonaHoraria}:00
      - if(!aeropuertosUpdate)
        h4.mt-5 Agregue un nuevo aeropuerto
          div.card.bg-dark
            div.card-body.text-white
              form(action='create/' method="POST")
                .form-group
                  label(for='CodigoIATA') Codigo IATA
                  input#CodigoIATA.form-control(type='text' aria-describedby='CodigoIATA' placeholder='CodigoIATA' name='CodigoIATA' required onkeyup = "javascript:this.value=this.value.toUpperCase();")
                .form-group
                  label(for='Ciudad') Ciudad
                  select#Ciudad.select.form-control.input-lg(type='text' placeholder='Ciudad' name='Ciudad')
                    option(value='Atlanta') Atlanta
                    option(value='Caracas') Caracas
                    option(value='Dubai') Dubai
                    option(value='Miami') Miami
                    option(value='New York') New York
                    option(value='París') París
                .form-group
                  label(for='Pais') País
                  select#Pais.select.form-control.input-lg(type='text' placeholder='Pais' name='Pais')
                    option(value='Emiratos Árabes Unidos') Emiratos Árabes Unidos
                    option(value='Estados Unidos de América') Estados Unidos de América
                    option(value='Francia') Francia
                    option(value='Venezuela') Venezuela
                .form-group
                  label(for='ZonaHoraria') Zona Horaria
                  select#ZonaHoraria.select.form-control.input-lg(type='number' name='ZonaHoraria')
                    option(value='-12') UTC -12:00
                    option(value='-11') UTC -11:00
                    option(value='-10') UTC -10:00
                    option(value='-9') UTC -9:00
                    option(value='-8') UTC -8:00
                    option(value='-7') UTC -7:00
                    option(value='-6') UTC -6:00
                    option(value='-5') UTC -5:00
                    option(value='-4') UTC -4:00
                    option(value='-3') UTC -3:00
                    option(value='-2') UTC -2:00
                    option(value='-1') UTC -1:00
                    option(value='0' selected=true) UTC ±0:00
                    option(value='1') UTC +1:00
                    option(value='2') UTC +2:00
                    option(value='3') UTC +3:00
                    option(value='4') UTC +4:00
                    option(value='5') UTC +5:00
                    option(value='6') UTC +6:00
                    option(value='7') UTC +7:00
                    option(value='8') UTC +8:00
                    option(value='9') UTC +9:00
                    option(value='10') UTC +10:00
                    option(value='11') UTC +11:00
                    option(value='12') UTC +12:00
                .form-group
                  button.btn.btn-primary(type='submit') Agregar
    - if(aeropuertosUpdate)
      h4.mt-5 Modificar Aeropuerto
        div.card.bg-dark
          div.card-body.text-white
            form(action=`update/${aeropuertosUpdate.CodigoIATA}` method="POST")
              .form-group
                label(for='Ciudad') Ciudad
                select#Ciudad.select.form-control.input-lg(type='text' value=`${aeropuertosUpdate.Ciudad}` placeholder='Ciudad' name='Ciudad')
                  option(value='Atlanta' selected=(aeropuertosUpdate.Ciudad=='Atlanta')) Atlanta
                  option(value='Caracas' selected=(aeropuertosUpdate.Ciudad=='Caracas')) Caracas
                  option(value='Dubai' selected=(aeropuertosUpdate.Ciudad=='Dubai')) Dubai
                  option(value='Miami' selected=(aeropuertosUpdate.Ciudad=='Miami')) Miami
                  option(value='New York' selected=(aeropuertosUpdate.Ciudad=='New York')) New York
                  option(value='París' selected=(aeropuertosUpdate.Ciudad=='París')) París
              .form-group
                label(for='Pais') Pais
                select#Pais.select.form-control.input-lg(type='text' value= `${aeropuertosUpdate.Pais}` placeholder='Pais' name='Pais')
                  option(value='Emiratos Árabes Unidos' selected=(aeropuertosUpdate.Pais=='Emiratos Árabes Unidos')) Emiratos Árabes Unidos
                  option(value='Estados Unidos de América' selected=(aeropuertosUpdate.Pais=='Estados Unidos de América')) Estados Unidos de América
                  option(value='Francia' selected=(aeropuertosUpdate.Pais=='Francia')) Francia
                  option(value='Venezuela' selected=(aeropuertosUpdate.Pais=='Venezuela')) Venezuela
              .form-group
                label(for='ZonaHoraria') Zona Horaria
                select#ZonaHoraria.select.form-control.input-lg(type='number' name='ZonaHoraria')
                  option(value='-12' selected=(aeropuertosUpdate.ZonaHoraria==-12)) UTC -12:00
                  option(value='-11' selected=(aeropuertosUpdate.ZonaHoraria==-11)) UTC -11:00
                  option(value='-10' selected=(aeropuertosUpdate.ZonaHoraria==-10)) UTC -10:00
                  option(value='-9' selected=(aeropuertosUpdate.ZonaHoraria==-9)) UTC -9:00
                  option(value='-8' selected=(aeropuertosUpdate.ZonaHoraria==-8)) UTC -8:00
                  option(value='-7' selected=(aeropuertosUpdate.ZonaHoraria==-7)) UTC -7:00
                  option(value='-6' selected=(aeropuertosUpdate.ZonaHoraria==-6)) UTC -6:00
                  option(value='-5' selected=(aeropuertosUpdate.ZonaHoraria==-5)) UTC -5:00
                  option(value='-4' selected=(aeropuertosUpdate.ZonaHoraria==-4)) UTC -4:00
                  option(value='-3' selected=(aeropuertosUpdate.ZonaHoraria==-3)) UTC -3:00
                  option(value='-2' selected=(aeropuertosUpdate.ZonaHoraria==-2)) UTC -2:00
                  option(value='-1' selected=(aeropuertosUpdate.ZonaHoraria==-1)) UTC -1:00
                  option(value='0' selected=(aeropuertosUpdate.ZonaHoraria==0)) UTC ±0:00
                  option(value='1' selected=(aeropuertosUpdate.ZonaHoraria==1)) UTC +1:00
                  option(value='2' selected=(aeropuertosUpdate.ZonaHoraria==2)) UTC +2:00
                  option(value='3' selected=(aeropuertosUpdate.ZonaHoraria==3)) UTC +3:00
                  option(value='4' selected=(aeropuertosUpdate.ZonaHoraria==4)) UTC +4:00
                  option(value='5' selected=(aeropuertosUpdate.ZonaHoraria==5)) UTC +5:00
                  option(value='6' selected=(aeropuertosUpdate.ZonaHoraria==6)) UTC +6:00
                  option(value='7' selected=(aeropuertosUpdate.ZonaHoraria==7)) UTC +7:00
                  option(value='8' selected=(aeropuertosUpdate.ZonaHoraria==8)) UTC +8:00
                  option(value='9' selected=(aeropuertosUpdate.ZonaHoraria==9)) UTC +9:00
                  option(value='10' selected=(aeropuertosUpdate.ZonaHoraria==10)) UTC +10:00
                  option(value='11' selected=(aeropuertosUpdate.ZonaHoraria==11)) UTC +11:00
                  option(value='12' selected=(aeropuertosUpdate.ZonaHoraria==12)) UTC +12:00
              .form-group
                button.btn.btn-danger(type="submit") Modificar
    - if(pistas && aeropuerto)
      h2 Aeropuerto 
        .row.mt-5
          .col-12
            table.table.bg-white
              thead
                tr
                  th(scope='col') Codigo IATA
                  th(scope='col') Ciudad
                  th(scope='col') Pais
                  th(scope='col') Zona Horaria
              tbody
                tr
                  th(scope='row') #{aeropuerto.CodigoIATA}
                  td #{aeropuerto.Ciudad}
                  td #{aeropuerto.Pais}
                  td UTC #{aeropuerto.ZonaHoraria}:00
      h2 Pistas 
        .row.mt-5
          .col-12
            table.table.bg-white
              thead
                tr
                  th(scope='col') Distancia (metros)
              tbody
                - for (var i = 0; i < pistas.length; i++)
                  tr
                    th(scope='row') #{pistas[i].Distancia}
                    td
                      form(action=`deletePista/${pistas[i].CodigoIATA}-${pistas[i].Distancia}`,method="POST")
                        button.btn.btn-outline-danger(type='submit') Eliminar            
      h4.mt-5 Agregar una nueva pista al aeropuerto
        div.card.bg-dark
          div.card-body.text-white
            form(action='agregarPista/' method="POST")
              .form-group
                label(for='CodigoIATA') Aeropuerto
                select#CodigoIATA.select.form-control.input-lg(type='text' name='CodigoIATA')
                  option(value=`${aeropuerto.CodigoIATA}`) #{aeropuerto.CodigoIATA} (#{aeropuerto.Ciudad}, #{aeropuerto.Pais}) 
              .form-group
                label(for='Distancia') Distancia (metros)
                input#Distancia.form-control(type='number' placeholder='Distancia' name='Distancia')
              .form-group
                button.btn.btn-primary(type='submit') Agregar