extends base
block content
  .container.pt-4
    h2 Rutas 
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') ID            
              th(scope='col') Origen
              th(scope='col') Destino
              th(scope='col') Avion
              th(scope='col') Hora de Salida (Local Origen)
              th(scope='col') Hora de Llegada (Local Destino)        
          tbody
          - if (!rutaUpdate)
            - for (var i = 0; i < rutas.length; i++)
              tr
                th(scope='row') #{rutas[i].ID}
                td #{rutas[i].CodigoIATAOrigen}
                td #{rutas[i].CodigoIATADestino}
                td #{rutas[i].IDAvion}
                td #{rutas[i].HoraSalida}
                td #{rutas[i].HoraLlegada}
                td
                  form(action=`show/${rutas[i].ID}`,method="GET")
                    button.btn.btn-outline-danger(type='submit') Modificar
                td
                  form(action=`delete/${rutas[i].ID}`,method="POST")
                    button.btn.btn-outline-danger(type='submit') Eliminar
          - else
            tr
              th(scope='row') #{rutas[i].ID}
              - for(var j = 0; j< aeropuertos.length; j++)
                - if(aeropuertos[j].CodigoIATA==rutas[i].CodigoIATAOrigen)
                  td #{aeropuertos[j].Ciudad}, #{aeropuertos[j].Pais}
              - for(var j = 0; j<aeropuertos.length; j++ )
                - if(aeropuertos[j].CodigoIATA==rutas[i].CodigoIATADestino)
                  td #{aeropuertos[j].Ciudad}, #{aeropuertos[j].Pais}
              td #{rutas[i].IDAvion}
              td #{rutas[i].HoraSalida}
              td #{rutas[i].HoraLlegada}
              td
                form(action=`show/${rutas[i].ID}`,method="GET")
                  button.btn.btn-outline-danger(type='submit') Modificar
              td
                form(action=`delete/${rutas[i].ID}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        - if(rutaUpdate)
          h4.mt-5 Modificar Datos
            div.card.bg-dark
              div.card-body.text-white
                form(action=`update/${rutaUpdate.ID}` method="POST")
                  .form-group
                    label(for='CodigoIATAOrigen') C贸digo IATA del Origen
                    select#CodigoIATAOrigen.select.form-control.input-lg(type='text' name='CodigoIATAOrigen')
                      - for (var i = 0; i < aeropuertos.length; i++)
                        option(value=`${aeropuertos[i].CodigoIATA}` selected=(rutaUpdate.CodigoIATAOrigen==aeropuertos[i].CodigoIATA)) #{aeropuertos[i].CodigoIATA}
                  .form-group
                    label(for='CodigoIATADestino') C贸digo IATA del Destino
                    select#CodigoIATADestino.select.form-control.input-lg(type='text' name='CodigoIATADestino')
                      - for (var i = 0; i < aeropuertos.length; i++)
                        option(value=`${aeropuertos[i].CodigoIATA}` selected=(rutaUpdate.CodigoIATADestino==aeropuertos[i].CodigoIATA)) #{aeropuertos[i].CodigoIATA}
                  .form-group
                    label(for='IDAvion') ID Avi贸n
                    select#IDAvion.select.form-control.input-lg(type='number' name='IDAvion')
                      - for (var i = 0; i < aviones.length; i++)
                        option(value=`${aviones[i].ID}` selected=(rutaUpdate.IDAvion==aviones[i].ID)) #{aviones[i].ID}
                  .form-group
                    label(for='HoraSalida') Hora Salida (Local Origen)
                    input#HoraSalida.form-control(type='time' value=`${rutaUpdate.HoraSalida}` placeholder='HoraSalida' name='HoraSalida')
                  .form-group
                    label(for='HoraLlegada') Hora de Llegada (Local Destino)
                    input#HoraLlegada.form-control(type='time' value=`${rutaUpdate.HoraLlegada}` placeholder='HoraLlegada' name='HoraLlegada')
                  .form-group
                  button.btn.btn-danger(type="submit") Modificar
        h4.mt-5 Agregar una nueva ruta
          div.card.bg-dark
            div.card-body.text-white
              form(action='create/' method="POST")
                  .form-group
                    label(for='CodigoIATAOrigen') Aeropuerto de Origen
                    select#CodigoIATAOrigen.select.form-control.input-lg(type='text' name='CodigoIATAOrigen')
                      - for (var i = 0; i < aeropuertos.length; i++)
                        option(value=`${aeropuertos[i].CodigoIATA}`) #{aeropuertos[i].CodigoIATA}
                  .form-group
                    label(for='CodigoIATADestino') Aeropuerto Destino
                    select#CodigoIATADestino.select.form-control.input-lg(type='text' name='CodigoIATADestino')
                      - for (var i = 0; i < aeropuertos.length; i++)
                        option(value=`${aeropuertos[i].CodigoIATA}`) #{aeropuertos[i].CodigoIATA}
                  .form-group
                    label(for='IDAvion') Avi贸n
                    select#IDAvion.form-control(type='number' name='IDAvion')
                      - for (var i = 0; i < aviones.length; i++)
                        option(value=`${aviones[i].ID}`) #{aviones[i].ID}
                  .form-group
                    label(for='HoraSalida') Hora de Salida (Local Origen)
                    input#HoraSalida.form-control(type='time' placeholder='HoraSalida' name='HoraSalida')
                  .form-group
                    label(for='HoraLlegada') Hora de Llegada (Local Destino)
                    input#HoraLlegada.form-control(type='time' placeholder='HoraLlegada' name='HoraLlegada')
                  .form-group
                    button.btn.btn-primary(type='submit') Agregar